h1 {
    text-align: center; 
    color: #800020;
    margin: 25px; 
    font-size: 35px; 
    font-family: Georgia, serif;
}

p {
    color: black; 
    font-family: Georgia, serif; 
    margin-left: 250px;
    margin-right: 250px; 
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
}

.p2 {
    color: #800020;
    font-family: Georgia, serif; 
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 10%;
    text-align: center;
    
  }

  body {
    background-image: url("images/old.jpg");
   }

   .button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
  }
  
  .button1:hover {
    background-color: #04AA6D;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }